
h1 {
    margin: 50px 100px 20px 100px;
    font-size: 25pt;
    color: #fff;
    text-align: center;
    
}

.photo{
    display: flex;
    margin: 5% auto 100px auto;
    width: 95%;

}

.personne {                                                     /**Artistes**/
    margin: 0 auto;
    
}

.personne>img {
    height: 250px;
    width: 250px;
}

.info {
    letter-spacing: 2px;
    margin: -10px 0;                                                                /**Nom des artistes**/
    background:#23353d;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.info>p {
    text-align: center;
    color: #fff;
    font-size: 14pt;
    font-weight: lighter;
    padding: 0 10px 20px 10px;
    margin-bottom: 10px;
    margin-top: 2px;
    
}

.nom {
    text-align: center;
    color: #fff;
    margin: 5px;
    padding: 18px 15px 5px 15px;
    font-size: 16pt;

}


.personne>img {                                         /**Effet de colorisation**/
	filter: grayscale(100%);
	transition: .3s ease-in-out;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.personne>img:hover {
	filter: grayscale(0);
}

.bouton {
    border: 3px solid #d22e60;
    margin: 135px auto 150px auto;
    display: block;
    text-align: center;
    width: 10%;
    opacity: 0.8;
    padding: 10px;
    text-decoration: none;
    font-size: 16pt;
    color: #d22e60;
    font-weight: bolder;
    border-radius: 50px;
    font-family: Helvetica, sans-serif;
}

.bouton:hover {
    border: 3px solid #ca4d73;
    transition: 1s;
    background: #ca4d73;
    color: #fff;
}

.histoire {
    margin: 20px auto;
    width: 50%;
    text-align: center;
    color: #fff;
}


#texte {
    margin: 24% auto 200px auto;
    width: 50%;
    font-size: 16pt;
    color: #fff;
    font-weight: lighter;
}


video {
	position: absolute;
	top: 0;
	left: 0;
    width:100%;
    height:240vh;
    overflow:hidden;
	object-fit: cover;
}


main>img {
    display: block;
    margin: 10px auto 150px auto;                   /**Logo**/
    width: 180px;
}










